@model IEnumerable<IMS.Models.Entity.StoreInfo>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewData["Title"] = "Dashboard";
    ViewData["SubTitle"] = "Store List";
}

<div class="row">
    <div class="col-">

    </div>
    <a class="btn btn-success" asp-controller="StoreInfo" asp-action="ManageStore">Add New</a>
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title">Store List</h5>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover mb-0">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Phone No.</th>
                                <th>Pan No.</th>
                                <th>Registration No.</th>
                                <th>Status</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                       <tbody>
                            @foreach (var item in Model)
                            {
                           <tr>
                                    <td>@item.StoreName</td>
                                    <td>@item.Address</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>@item.PanNo</td>
                                    <td>@item.RegistrationNo</td>
                                    <td>@item.IsActive</td>
                                    <td>
                                        <a class="btn btn-success" asp-action="ManageStore" asp-route-id="@item.Id">Edit</a>
                                    <a class="btn btn-danger" asp-action="RemoveStudent" asp-route-id="@item.Id">Delete</a>
                                    </td>
                           </tr>
                            }
                       </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>